.dashboard-container{data: { controller: "dashboard" }}
  %section.user-section
    .user-info
      %h2 Bienvenido,
      %p.user-name= current_user.full_name || current_user.email
      %p.user-email= current_user.email
      .subscription-info
        %h3 Suscripción
        - if current_user.active_subscription.present?
          %p.status.active Estatus: Activa
          %p.expiry= "Fecha de expiración: #{current_user.active_subscription.until.strftime("%d/%m/%Y")}"
          %p.days-left= "Días restantes: #{(current_user.active_subscription.until - Date.today).to_i}"
          = link_to "Renovar suscripción", 'subscriptions_path', class: "renew-link"
        - else
          %p.status.inactive Estatus: Inactiva
          %md-filled-button Renovar suscripción
          = link_to "Renovar suscripción", 'subscriptions_path', class: "renew-link"
