.form-container
  = form_with(model: @user) do |form|
    - if params[:subscription_type].present?
      = form.hidden_field :subscription_type, value: params[:subscription_type]
    .text-center
      %h2.form-title= I18n.t("users.new.title")
      %p.form-description= I18n.t("users.new.description")
    .space-y-6
      .form-group
        = form.label :full_name, I18n.t("users.new.name_placeholder"), class: "form-label"
        = form.text_field :full_name, class: "form-input", required: true, autocomplete: "name", placeholder: I18n.t("users.new.name_placeholder")

      .form-group
        = form.label :email, I18n.t("users.new.email_placeholder"), class: "form-label"
        = form.email_field :email, class: "form-input", required: true, autocomplete: "email", placeholder: I18n.t("users.new.email_placeholder")

      .form-group
        = form.label :password, I18n.t("users.new.password_placeholder"), class: "form-label"
        = form.password_field :password, class: "form-input", required: true, autocomplete: "new-password", placeholder: I18n.t("users.new.password_placeholder")

      .form-group
        = form.label :password_confirmation, I18n.t("users.new.password_confirmation_placeholder"), class: "form-label"
        = form.password_field :password_confirmation, class: "form-input", required: true, autocomplete: "new-password", placeholder: I18n.t("users.new.password_confirmation_placeholder")

      .form-group
        = form.label :affiliate_key, I18n.t("users.new.affiliate_key_placeholder"), class: "form-label"
        = form.text_field :affiliate_key, class: "form-input", autocomplete: "off", placeholder: I18n.t("users.new.affiliate_key_placeholder")

      .form-group
        = form.check_box :terms_accepted, class: "form-checkbox"
        %span
          I accept the
          = link_to "Terms of Service", "#", class: "text-brand-purple hover-underline"
          and the
          = link_to "Privacy Policy", "#", class: "text-brand-purple hover-underline"

      .form-group
        = form.submit "Register", class: "btn-submit"

    %p.login-prompt
      Already have an account?
      = link_to I18n.t('users.new.create_account'), "#", class: "login-link hover-underline"