.emoti-container{data: { controller: "emoti" }}
  %section.emotis-section
    .emotis-glide
      = content_tag :div, data: { glide_el: "track" }, class: "glide__track" do
        = content_tag :ul, class: "glide__slides" do
          - @emotis.each do |emoti|
            = content_tag :li, class: "glide__slide" do
              .card
                .card-image
                  .image.is-1by1
                    =image_tag "emotis/#{emoti.key}.png"
                .card-content
                  .media
                    .media-content
                      %p.title.is-4= emoti.name
                      %p.subtitle.is-6= emoti.quote
                  .content
                    %a{href: chat_path(emoti.id)} HABLAR