.emoti-container{data: { controller: "emoti" }}
  %section.emotis-section
    .wrap
      %h4 Elige un Emoti
      .emotis-glide
        = content_tag :div, data: { glide_el: "track" }, class: "glide__track" do
          = content_tag :ul, class: "glide__slides" do
            - @emotis.each do |emoti|
              = content_tag :li, class: "glide__slide" do
                .emoti-card
                  .emoti-actions
                    %p.emoti-description= emoti.quote
                    %a.emoti-open-chat{href: chat_path(emoti.id)} HABLAR
                  .emoti-card-info
                    %h3= emoti.name
                  .emoti-card-image
                    = image_tag "emotis/#{emoti.key}.png"