.chat-container{data: {
    controller: "chat",
    chat_emoti_img_url_value: image_path("emotis/#{@chat.emoti.key}_half.png"),
    chat_chat_id_value: @chat.id
  }
}
  .chat-header
    = render partial: 'components/emoti_mini_selector'
  .chat-messages{data: {chat_target: "messages"}, id: "chat-messages"}
    = image_tag "emotis/#{@chat.emoti.key}_half.png", alt: "#{@chat.emoti.name}", class: "img-main-emoti"
    .message{class: 'assistant'}
      .msg-content-wrap
        .msg-content
          = raw(markdown(@chat.emoti.initial_message))
    - @chat.messages.order_by(created_at: :asc).each do |message|
      .message{class: message.role == :user ? 'user' : 'assistant'}
        - if message.role == :assistant
          = image_tag "emotis/#{@chat.emoti.key}_half.png", alt: "#{@chat.emoti.name}"
        .msg-content-wrap
          .msg-content
            %p= raw(markdown(message.content))
          .timestamp
            = message.created_at.strftime("%H:%M")
  .chat-input
    %input#user-input{type: "text", placeholder: I18n.t('chats.write_your_msg'), data: {chat_target: "inputField"}}
    %button#send-button{type: 'button', data: {chat_target: "sendButton"}}
      %span.material-symbols-outlined send
