.form-container
  = form_with(model: @subscription) do |form|
    .text-center
      %h2.form-title Create your SENA account
      %p.form-description Join our community and start taking care of your emotional well-being.

    .space-y-6
      .form-group
        = form.label :name, class: "form-label"
        %span Full Name
        = form.text_field :name, class: "form-input", required: true, autocomplete: "name", placeholder: "Full Name"

      .form-group
        = form.label :email, class: "form-label"
        %span Email
        = form.email_field :email, class: "form-input", required: true, autocomplete: "email", placeholder: "Email"

      .form-group
        = form.label :password, class: "form-label"
        %span Password
        = form.password_field :password, class: "form-input", required: true, autocomplete: "new-password", placeholder: "Password"

      .form-group
        = form.label :password_confirmation, class: "form-label"
        %span Confirm Password
        = form.password_field :password_confirmation, class: "form-input", required: true, autocomplete: "new-password", placeholder: "Confirm Password"

      .form-group.flex.items-center
        = form.check_box :terms, class: "form-checkbox", id: "terms"
        %span
          I accept the
          = link_to "Terms of Service", "#", class: "text-brand-purple hover-underline"
          and the
          = link_to "Privacy Policy", "#", class: "text-brand-purple hover-underline"

      .form-group
        = form.submit "Register", class: "btn-submit"

    %p.login-prompt
      Already have an account?
      = link_to "Log in", "#", class: "login-link hover-underline"


