!!! 5
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title= content_for(:title) || I18n.t('sena')
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
    %meta{:content => "yes", :name => "mobile-web-app-capable"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "format-detection", content: "telephone=no"}
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}
    = tag.link rel: 'manifest', href: pwa_manifest_path(format: :json)
    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_importmap_tags
    %link{rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.6.0/css/glide.core.min.css'}
    %link{rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.6.0/css/glide.theme.min.css'}
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"}
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"}

  %body
    = render 'components/header'
    = yield
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.6.0/glide.min.js'}
    %script{src: 'https://unpkg.com/typewriter-effect@latest/dist/core.js'}
